<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Tracking</title>
        <title lang="de-DE">Tracking</title>

        <input-field type="bool">
            <name>maatooActive</name>
            <required>true</required>
            <defaultValue>true</defaultValue>
            <label>Enable maatoo Tracking Script</label>
            <label lang="de-DE">maatoo Tracking Script aktivieren</label>
            <helpText>This is required for proper order to contact mapping</helpText>
            <helpText lang="de-DE">Dies ist für das korrekte Mapping von Bestellungen zu Kontakten erforderlich</helpText>
        </input-field>

        <input-field type="url">
            <name>baseUrl</name>
            <required>true</required>
            <label>maatoo Base URL</label>
            <label lang="de-DE">maatoo Base URL</label>
            <helpText>Add the base URL from Settings -> Tracking from your maatoo account to enable page view tracking</helpText>
            <helpText lang="de-DE">Fügen Sie die Basis-URL unter Einstellungen -> Tracking von deinem maatoo Account hinzu, um das Tracking von Seitenaufrufen zu aktivieren.</helpText>
        </input-field>
    </card>
</config>